* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    font-size: 20px;
    font-weight: semi bold;
    border: none;
    padding:10px 25px;
    background-color: #469165;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    
}

.logo{
    font: size 25px; ;
}


/* main style */
header{
    height: 700px;
    background-color: #FFFFFF;
    margin: 0 auto;
       
}
/* nav e border disi cover er sathe mile jacchilo */
nav{
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 30px solid red;  */
    padding: 10px;
}
nav .bar{
    display: flex;
    list-style-type: none;
    gap: 80px;
    margin: 0 auto;
    text-align: center;
}
nav a{
    font-size: 27px;
    text-decoration: none;
    align-items: center;   
}
 /* Hero pic cover hocche na  */
#Hero{
    /* margin : 70px 120px 134px 120px; */
    align-items: center;
    background: url("../Images/hero-bg.png");
    background-position: center;
    height: 600px;
    padding-top: 120px;
    background-size: cover;
    text-align: center;

}
#Hero .banner-content{
    margin: 0 auto;

}
.update{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: #FFFFFF ;

}
.line{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: #469165 ;
}
.color{
    color:#FFFFFF ;
}
.how{
    background: none;
    font-size: 20px;
    color:#FFFFFF ;
    border: 2px solid ;
    padding: 11px;
    border-radius: 5px;
    
}