* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    font-size: 20px;
    font-weight: semi bold;
    border: none;
    padding:10px 25px;
    background-color: #469165;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

.logo{
    font: size 25px; ;
}


/* main style */
header{
    
    background-color: #FFFFFF;
    padding:35px ;
    background: url(../Images/hero-bg.png);
    background-position:center;
   
}
nav{
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .bar{
    display: flex;
    list-style-type: none;
    gap: 80px;
    margin: 0 auto;
    text-align: center;
}
nav a{
    font-size: 27px;
    text-decoration: none;
    align-items: center;   
} 
#Hero{
    margin : 70px 120px 134px 120px;
    align-items: center;

}
#Hero .banner-content{
    margin: 0 auto;

}
.update{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: #FFFFFF ;

}
.line{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: #469165 ;
}