* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    font-size: 20px;
    font-weight: semi bold;
    border: none;
    padding:10px 25px;
    background-color: #469165;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    
}

.logo{
    font: size 25px; ;
}


/* main style */
header{
    height: 700px;
    background-color: #FFFFFF;
    margin: 0 auto;
       
}
/* nav e border disi cover er sathe mile jacchilo */
nav{
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 30px solid red;  */
    padding: 10px;
}
nav .bar{
    display: flex;
    list-style-type: none;
    gap: 80px;
    margin: 0 auto;
    text-align: center;
}
nav a{
    font-size: 27px;
    text-decoration: none;
    align-items: center;   
}
 /* Hero pic cover hocche na  */
#Hero{
    /* margin : 70px 120px 134px 120px; */
    align-items: center;
    background: url("../Images/hero-bg.png");
    background-position: center;
    height: 600px;
    padding-top: 120px;
    background-size: cover;
    text-align: center;

}
#Hero .banner-content{
    margin: 0 auto;

}
.update{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: #FFFFFF ;

}
.line{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: #469165 ;
}
.color{
    color:#FFFFFF ;
}
.how{
    background: none;
    font-size: 20px;
    color:#FFFFFF ;
    border: 2px solid ;
    padding: 11px;
    border-radius: 5px;
    
}
.Notes{
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.paragraph{
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    /* margin-top: 10; */

    
}
.box{
   display: flex;
    justify-content: space-between;
    gap: 30px;
    /* width: 80%; */
    margin: 60px auto;

}
.pic{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   text-align: center;
   margin: 0 auto;
   width: 250px;
   border-radius: 10px;
   padding: 20px;
   background: #FFFFFF;   
}
.rong{
    background:#F95555 ;
}
.knowledge{
    margin: 0 auto;
    width: 500px;
    
    
}
.solution{
    display: flex;
    align-items: center;

}
.solution h6{
    font-size:16px ;
    font-weight: medium ;
    color: #30B868;
}
.solution h1{
    font-size: 48px;
    font-weight: bold;
    color:#001931 ;
}
.solution p{
    font-size: 16px;
    color: #627382;
}
.ready{
    margin:0 auto ;
    padding: 150px;
    width: 150;

    text-align: center;
}
.ready h1{
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color:black;
}
.ready p{
    font-size: 16px;
    color: #627382
}
.last{
    border-radius: 5px;

   background-color: #469165;
   color: white;
   font-size: 15px;
}
.done{
    display: flex;
    padding: 150px;
    margin: 0 auto;
    justify-content: space-between;
    background-color:#001931;
    color:#628263 ;
    font-size: 20px;
    font-weight: Medium ;
    
}

    




