* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    font-size: 20px;
    font-weight: semi bold;
    border: none;
    padding:10px 25px;
    background-color: #469165;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
}

.logo{
    font: size 25px; ;
}


/* main style */
header{
    background-color: #FFFFFF;
    padding-top:35px ;
}
nav{
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .bar{
    display: flex;
    list-style-type: none;
    gap: 80px;
    margin: 0 auto;
}
nav a{
    font-size: 27px;
    text-decoration: none;
    align-items: center;   
} 
